// // Fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito');

// // Variables
// @import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


body {
  font-size: 14px;
  font-weight: normal;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

div.container.content{
  flex: 1;
}

nav.navbar.navbar-expand-lg {
  margin-bottom: 20px;
}

p.t {
display: inline-block;
}

/* footer */

footer {
  margin-bottom: 30px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
  font-size: 13px;
  font-weight: bold;

  a {
    color: #555;
  }

  a:hover {
    color: #222;
  }

  img.brand-icon {
    width: 17px;
    height: 17px;
    margin-bottom: 4px;
  }
}
